/* google-font */
@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+TC:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

/* bootstrap-icon */
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0.05rem;
  color: var(--neutral-900);
  line-height: 1.5;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
}

.fs-1 {
  font-size: 40px;
}
.fs-2 {
  font-size: 32px;
}
.fs-3 {
  font-size: 28px;
}
.fs-4 {
  font-size: 24px;
}
.fs-5 {
  font-size: 20px;
}
.fs-6 {
  font-size: 16px;
}
.text-sm {
  font-size: 14px;
}
p {
  line-height: 1.5;
}

.bi {
  line-height: 1;
}

.fw-medium {
  font-weight: 500;
}
.fw-bold {
  font-weight: 700;
}

/* space */
.mb-1 {
  margin-bottom: 4px;
}
.mb-3 {
  margin-bottom: 12px;
}
.mb-4 {
  margin-bottom: 16px;
}
.mb-5 {
  margin-bottom: 24px;
}
.mb-8 {
  margin-bottom: 48px;
}
.me-2 {
  margin-right: 8px;
}
.my-9 {
  margin: 64px 0;
}
.p-6 {
  padding: 32px;
}
.py-6 {
  padding: 32px 0;
}
.py-9 {
  padding: 64px 0;
}
.pt-6 {
  padding-top: 32px;
}

:root {
  --primary-100: #f5fee7;
  --primary-200: #e8fec5;
  --primary-300: #c0fa73;
  --primary-400: #57a203;
  --neutral-0: #ffffff;
  --neutral-100: #f8f9fa;
  --neutral-300: #dee2e6;
  --neutral-600: #6c757d;
  --neutral-900: #212529;
}
.text-primary-400 {
  color: var(--primary-400);
}

.border-underline-24 {
  padding-bottom: 24px;
  border-bottom: 1px solid #dee2e6;
}

.border-underline-48 {
  padding-bottom: 48px;
  border-bottom: 1px solid #dee2e6;
}

.btn {
  padding: 12px 24px;
  border-radius: 4px;
}
.btn-black {
  font-weight: 500;
  line-height: 1.5;
  background-color: var(--neutral-900);
  color: var(--neutral-0);
}
