.container {
  max-width: 1296px;
  margin: 0 auto;
}

.container-md {
  max-width: 856px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}
.col-2 {
  width: calc(100% / 12 * 2);
  padding-left: 12px;
  padding-right: 12px;
}
.col-3 {
  width: calc(100% / 12 * 3);
  padding-left: 12px;
  padding-right: 12px;
}
.col-4 {
  width: calc(100% / 12 * 4);
  padding-left: 12px;
  padding-right: 12px;
}
.col-5 {
  width: calc(100% / 12 * 5);
  padding-left: 12px;
  padding-right: 12px;
}
.col-7 {
  width: calc(100% / 12 * 7);
  padding-left: 12px;
  padding-right: 12px;
}
.col-10 {
  width: calc(100% / 12 * 10);
  padding-left: 12px;
  padding-right: 12px;
}

/* header-nav區塊 */
.header-nav {
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      gap: 16px;
    }
    li {
      padding: 12px;
      font-weight: 500;
    }
    .d-flex {
      padding: 16px 0;
    }
    .logo {
      margin-right: 36px;
    }
    .login {
      padding: 12px;
    }
  }
}

/* footer區塊 */
.footer {
  text-align: center;
  color: var(--neutral-600);

  .bg {
    background-color: var(--neutral-100);
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    display: flex;
    font-weight: 500;
    line-height: 1.5;
    gap: 16px;
    color: var(--neutral-900);

    li {
      padding: 12px;
    }
  }
}

.breadcrumb {
  ol {
    display: flex;
  }

  /* 所有連結預設為 neutral-600 */
  .breadcrumb-item a {
    font-weight: 500;
    color: var(--neutral-600);
    text-decoration: none;
  }

  /* 當前頁（active）*/
  .breadcrumb-item.active {
    color: var(--neutral-900);
  }

  /* 分隔符號 / 樣式 */
  .breadcrumb-item + .breadcrumb-item::before {
    content: '/';
    margin: 0 12px;
    color: var(--neutral-600);
  }
}

.section-promotion {
  .bg {
    background-color: var(--primary-200);
  }
  .d-flex {
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 24px 0;
  }
}
